.top-title {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 50;
    opacity: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: white(63, 63, 63);
    margin: 0px;
}
.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(10px);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;               
  justify-content: center;     
  align-items: center;         
  height: 50px;                
}

li {
  margin: 0 10px;              
}

li a {
  display: flex;          
  font-family: 'Roboto mono';     
  align-items: center;         
  justify-content: center;     
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
  height: 9px;
  width: 40px;
  border-radius: 10px;
  background-color: white;
}

li a:hover:not(.active) {
  background-color: rgb(216, 238, 216);
}

#aboutButton,
#homeButton {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#aboutButton.green,
#homeButton.green {
  background-color: green;
}

.text-contain {
    margin-top: 200px;
}
.me {
    display: inline-block;
    width: 700px;
}
.intro {
     /*  */
    height: 400px;
    text-align: center;
    padding-top: 50px;
}

.hello {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}
.hello2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color: rgb(151, 148, 148);
    margin-top: -40px;
}
.hello3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    text-align: center;
    color: rgb(154, 154, 154);
    margin-top: -20px;
    width: 600px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.view-me {
    width: 150px;
    height: 32px;
    background-color: rgb(34, 139, 34);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block; 
    align-items: center; 
    justify-content: center; 
    transition: ease 0.3s;
}
.view-me:hover{
    background-color: white;
    color: rgb(34, 139, 34);
    border : 2px solid rgb(102, 183, 102);
}
.contact {
    width: 150px;
    height: 32px;
    background-color: white;
    color: rgb(34, 139, 34);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(34, 139, 34);
    margin-top: 20px;
    text-decoration: none;
    display: inline-block; 
    align-items: center; 
    justify-content: center; 
    /* margin-left: 20px; */
    transition: ease 0.3s;
}
.contact:hover{
    background-color: rgb(34, 139, 34);
    color: white;
}
.about-me{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about {
    font-family: 'Roboto mono';
    display: inline-block;
    font-size: 40px;
    margin-top: 400px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
}
.about1 {
    font-family: "Roboto mono";
    font-size: 15px;
    color : grey;
    margin-bottom: 40px;
}
.about-me-body{
    text-align :center;
    justify-content: top;
}
.abt-me-para {
    display : inline-block;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin-right: 20px;
}
.abt-me-content{
    width:100%;
    height: 200px;
    font-family: 'Roboto mono';
    text-align: left;
    background-color: white;
    line-height: 25px;
}
.abt-me-card {
    display: inline-block;
    background-color: white;
    filter: drop-shadow(0 0 0.55rem rgb(118, 118, 118));
    width: 350px;
    height: 300px;
    border-radius: 10px;

}
.abt-me-pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
}