<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <LINK rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
    <div>
        <div class="top-bar">
            <ul>
                <li><a class="active" onclick="scrollDown()">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>

        </div>
        <div class="intro">
            <div class = "text-contain">
                <p class="hello">Hi, I'm <strong style="color: rgb(34, 139, 34);">Sophea Kong</strong></p>
                <p class="hello2">Frist year student at CADT</p>
                <p class="hello3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi doloribus! Beatae enim alias libero repellat voluptates! Porro in quo, obcaecati officiis, temporibus, commodi aperiam reiciendis sapiente error praesentium dolore?</p>
            </div>
            <div class="button-cotain">
                <a class = "view-me">view-me</a>
                <a class="contact">contact me</a>
            </div>
            <button style="width: 50px; height: 50px; font-size: 50px; border: none; background-color: white; color: rgb(34, 139, 34); margin-top: 40px;" onclick="scrollDown()">&#8595;</button>
            <script src="../static/js/style.js"></script>
        </div>
        <div class="about-me" id="about-me-id">
            <p>about me</p>
        </div>
    </div>
    </body>
</html>