<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <LINK rel="stylesheet" href="../static/css/home.css">
</head>

<body id="body-id">
        <div class="top-bar">
            <ul>
                <li><a id="homeButton" onclick="scrollDownHome()">Home</a></li>
                <li><a id="aboutButton" onclick="scrollDownAbout()">About</a></li>
                <li><a id="skillsButton" onclick="scrollDownSkills()">Skills</a></li>
                <li><a id="projectButton" onclick="scrollDownProject()">Project</a></li>
                <li><a id="contactButton" onclick="scrollDownContact()">About</a></li>
            </ul>
        </div>
        <div class="intro" id="home-id">
            <div class="text-contain">
                <p class="hello" id="hello-id">Hi, I'm <strong style="color: rgb(34, 139, 34);">Sophea Kong</strong></p>
                <p class="hello2">Frist year student at CADT</p>
                <p class="hello3">
                    I love exploring tech, building creative projects, and learning new skills in web development and design. This site is where I share my work and ideas as I grow in the digital world.
                </p>
            </div>
            <div class="button-cotain">
                <a class="view-me">view-me</a>
                <a class="contact">contact me</a>
            </div>
            <button
                style="width: 50px; height: 50px; font-size: 50px; border: none; background-color: white; color: rgb(34, 139, 34); margin-top: 40px;"
                onclick="scrollDown()">&#8595;</button>
            <script src="../static/js/style.js"></script>
        </div>
        <div class="about-me" id="about-me-id1" style="padding: -20px;">
            <p class="about">about me</p>
            <p class="about1" id="about-me-id">driven by curousity and power by coffee</p>
        </div>
        <div class="about-me-body">
            <div class="abt-me-para">
                <p class='abt-me-content'>Lorem ipsum dolor sitad jflkasd j jasldfj aksdj sdkjfasjdf
                    lajsdlkfjasldkjflasdjf lajsdlkfjasdf alkdfjlkasjdf asdfx lkjskdlfjlakjsdflajsdlkfjalsdjf
                    lajsdlfkajdflkajsdflkajsldfjalsdfasamet consectetur adipisicing elit. Tempora quos mollitia aperiam
                    placeat laboriosam nihil, incidunt facilis id expedita minus saepe, deserunt provident eaque
                    aspernatur natus atque cupiditate corporis officiis?</p>
            </div>
            <div class="abt-me-card">
                <img class="abt-me-pic" src="../asset/Untitled design (1).png">
                <p style="font-family: 'Roboto mono';">Always learning</p>
                <p
                    style="width: 300px; text-align: center; margin: 0 auto; font-family: 'Roboto mono'; color: grey; font-size: 12PX;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quia ratione soluta esse</p>
            </div>
        </div>
        <div class="skills" id="skill">
            <div class="skill-title">
                <p style="margin: 5px 0;" class="skill-title-1">Skills</p>
                <p style="margin: 5px 0;" class="skill-title-2">Technologies and tools I use to bring ideas to life</p>
            </div>
            <div class="skill-card">
                <div class="skill-card-1">
                    <div class="skill-card-icon">
                        <i class="fa fa-database" style="font-size: 30px; color: rgb(34, 139, 34);"></i>
                    </div>
                    <p style="font-family: 'Roboto mono'; letter-spacing: 0.01px;">Frontend Development</p>
                    <div class="skill-card-category2">
                        <span class="skill-tag">Basic HTML</span>
                        <span class="skill-tag">Basic CSS</span>
                        <span class="skill-tag">Basic JS</span>
                    </div>
                </div>
                <div class="skill-card-1">
                    <div class="skill-card-icon">
                        <i class="fa fa-code" style="font-size: 30px; color: rgb(34, 139, 34);"></i>
                    </div>
                    <p style="font-family: 'Roboto mono'; letter-spacing: 0.01px;">Backend Development</p>
                    <div class="skill-card-category2">
                        <span class="skill-tag">Python</span>
                        <span class="skill-tag">mySQL</span>
                        <span class="skill-tag" style="width: 30px;">Git</span>
                    </div>

                </div>
                <div class="skill-card-1" id="skills-card">
                    <div class="skill-card-icon">
                        <i class="fa fa-palette" style="font-size: 30px; color: rgb(34, 139, 34);"></i>
                    </div>
                    <p style="font-family: 'Roboto mono'; letter-spacing: 0.01px;">Design & Tools</p>
                    <div class="skill-card-category2">
                        <span class="skill-tag">Canva</span>
                        <span class="skill-tag">Figma</span>
                        <span class="skill-tag">Render</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <p style="font-family: 'Roboto mono';
                          display: inline-block;
                          font-size: 40px;
                          margin-top: 400px;
                          margin-bottom: -100px;
                          margin-left: auto;
                          margin-right: auto;">
                          My Project
                </p>
                <p style="font-family: 'Roboto mono'; color: grey;;">A selection of my recent work that showcase my skills and passion for development</p>
            </div>
            <div class="project-grid">
                <div class="project-card">
                    <img src="../asset/IMG_20250808_231627_847.jpg" class="project-pic">
                    <p>Sophea's Creative Hub</p>
                    <p style="font-size: 13px; text-align: left; width: 350px; padding-left: 10px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste magnam quaerat recusandae.</p>
                    <div class="project-tag">
                        <span class="project-tag-span">FastAPI</span>
                        <span class="project-tag-span">HTML/CSS/JS</span>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>